.orbitron {
    display: inline-block;
    position: relative;
    font-family: "Orbitron";
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 32px;
    margin-bottom: 30px;
    margin-bottom: 20px;
    &::before {
        left: -65%;
    }
    &::after {
        right: -65%;
    }
}
.orbitron::before,
.orbitron::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 60%;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgb(0, 0, 0);
}
.white::before,
.white::after {
    background-color: rgb(255, 255, 255);
    background-color: [color];
}
@media only screen and (max-width: 500px) {
    .orbitron {
        margin-bottom: 22px;
    }
}