.orbitron {
    display: inline-block;
    position: relative;
    font-family: "Orbitron";
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 32px;
    margin-bottom: 60px;
    margin-bottom: 22px;
    &::before {
        left: -65%;
    }
    &::after {
        right: -63%;
    }
}
.orbitron::before,
.orbitron::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 60%;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
}
.orbitron.black-orb::before,
.orbitron.black-orb::after {
    background-color: #000;
}
@media only screen and (max-width: 500px) {
    .orbitron {
        margin-bottom: 22px;
    }
}