.container {
    background: url(../../assets/images/OnOff/404OffCyanDeux.jpeg);
    min-height: 500px;
    min-width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    animation: notFound 8s 1;
}
@keyframes notFound {
    0%, 39% {
        background: url(../../assets/images/OnOff/404On.jpeg); 
        min-height: 500px;
        min-width: 100%;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    40% {
        background: url(../../assets/images/OnOff/404OffCyan.jpeg); 
        min-height: 500px;
        min-width: 100%;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    50% {
        background: url(../../assets/images/OnOff/404On.jpeg); 
        min-height: 500px;
        min-width: 100%;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    55% {
        background: url(../../assets/images/OnOff/404OffCyan.jpeg);
        min-height: 500px;
        min-width: 100%;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat; 
    }
    60% {
        background: url(../../assets/images/OnOff/404On.jpeg); 
        min-height: 500px;
        min-width: 100%;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    70% {
        background: url(../../assets/images/OnOff/404OffCyan.jpeg); 
        min-height: 500px;
        min-width: 100%;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    100% {
        background: url(../../assets/images/OnOff/404OffCyanDeux.jpeg);
        min-height: 500px;
        min-width: 100%; 
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
}
