<div class="ui statistics">
    <div class="statistic" *ngFor="let stat of data">
        <div class="value">
            <i [ngClass]="stat.class" class="small"></i> 
            {{ stat.value }}
        </div>
        <div class="label">
            {{ stat.label}}
        </div>
    </div>
</div>


<!-- <div *ngFor="let stat of data" class="ui statistics">
    <div *ngClass="stat.class">
        <div class="value">
            {{ stat.value }}
        </div>
        <div class="label">
            {{ stat.label}}
        </div>
    </div>
</div> -->