.plan-parallax {
    background-size: cover;
    height: 60vh; 
    // Create the parallax scrolling effect
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.para-text {
    position: relative;
    height: 60vh;
}