<section>
    <div>
        <img src="../../../assets/images/people/q-transp.jpeg" alt>
    </div>
    <div>
        <h2 class="title">Employee of the month</h2>
        <h3 class="job">Web Developer</h3>
        <p class="text">
            Here is our proud developer! he has been working for two days in a row with amazing energy. <br>
            We hence thank him deepfully fro his amazin contribution! bah baye and Goood month! 
        </p>
        <app-paragraph-lines color="black"></app-paragraph-lines>
    </div>
</section>