section { 
    align-items: center;
    font-size: 0;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    -ms-flex-direction: column;
    -webkit-flex-flow: row wrap; 
    flex-flow: row wrap; 
    display: -webkit-box;
    display: flex;

    div { 
        -webkit-box-flex: auto;
        -ms-flex: auto;
        flex: auto; 
        width: 50%; 
        margin-top: 30px;
    }
    div img { 
        transform:scaleX(-1);
        max-height: 400px;
        margin-bottom: -15px;
    }
    p {
        width: 100%;
        font-family: 'Lato', 'Helvetica Neue', sans-serif;
        font-size: 15px;
        letter-spacing: 1px;
        color: black;
        margin: 0 30px 20px 0;
        }
}
  .content {
    text-align: left;
    margin-top: 50px;
  }
  .title {
    font-family: "Montserrat";
    text-transform: uppercase;
    font-size: 4vh;
    line-height: 48px;
    letter-spacing: 12px;
    margin-bottom:20px;
    line-height: 30px;
    letter-spacing: 5px;
    padding: 0;
}
.job {
    display: inline-block;
    font-family: "Roboto";
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 4px;
    border: 1px solid;
    padding: 10px;
    margin-bottom: 20px;
}
@media screen and (max-width: 620px) {
    section {
        flex-direction: column-reverse;
        div {
            width: 100%;
        }
    }
    section div img { 
        height: auto;
        max-height: 300px;
      }
    .content {
        text-align: center;
      }
    .text {
        padding: 0 50px;
    }
}