<app-divider>Some table with numbers</app-divider> 
<app-table cssClass="striped celled" [data]="data" [headers]="headers"></app-table>

<app-divider>Some Tabs for presentation</app-divider>

<div class="ui grid">
    <div class="four wide column">
        <div class="ui vertical fluid tabular menu">
            <a routerLink="./" routerLinkActive="active" [routerLinkActiveOptions]=" { exact: true } " class="item">Thérèse</a>
            <a routerLink="./q" routerLinkActive="active" class="item">Q</a>
            <a routerLink="./j" routerLinkActive="active" class="item">José</a>
        </div>
    </div>
    <div class="twelve wide stretched column">
        <div class="ui segment">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

