p {
    display: block;
    position: relative;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;
    align-items: center;
    font-family: "Montserrat";
    text-transform: uppercase;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 8px;
    margin-bottom: 20px;
}
header {
    display: inline-block;
    padding: 30px;
    margin-bottom: 45px;
    letter-spacing: 4px;
    border: 1px solid;
    font-size: 14px;
    font-family: "Roboto";
}
.value-row {
    height: 500px;
}