.container {
    width: 90%;
    margin: 30px auto;
}
.header {
    display: block;
    position: relative;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;
    align-items: center;
    font-family: "Montserrat";
    text-transform: uppercase;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 8px;
}
p {
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    text-align: justify;

}