.lines {
    display: inline-block;
    position: relative;
    text-align: left;
    height: 2px;
    width: 80px;
    background-color: var(--white);
    &::before {
        top: -12px;
    }
    &::after {
        bottom: -12px;
    }
    &.black {
        background-color: var(--black);
    }
    &.margin-bottom {
        margin-bottom: 45px;
    }
}
.lines::before,
.lines::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 25px;
    background-color: var(--white);
}
.lines.black::before,
.lines.black::after {
    background-color: var(--black);
}